name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  frontend:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
    
    defaults:
      run:
        working-directory: ./frontend

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: ./frontend/package-lock.json
    - run: npm i

    - name: Test building frontend
      run: npm run build

  jar:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [21]
        gradle-version: [8.14]

    steps:
    - name: Remove unnecessary files to release disk space
      run: |
        df -h
        rm -rf /opt/hostedtoolcache
        df -h

    - uses: actions/checkout@v4
    - name: Use JDK 21, 17, 14
      uses: actions/setup-java@v4
      with:
        java-version: |
          21
          17
          14
        distribution: "zulu"
        cache: "gradle"
    - name: Change wrapper permissions
      run: chmod +x ./gradlew

    - name: Building jar files
      run: JAVA_HOME=$JAVA_HOME_21_X64 ./gradlew build --refresh-dependencies --stacktrace
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: opanel-jars
        path: ./build/libs/*